$header-color: orange;
$header-h1-color: #fff;
$footer-paragraph-color: #ccc;
$button-color: orange;
$box-shawdow-color: rgba(0, 0, 0, 0.3);

// image background url
$url: "https://www.transparenttextures.com/patterns/climpek.png";

// font styles variables
